<h2>Add Character:</h2>

<%if @character.errors.any?%>
  <%@character.errors.full_messages.each do |msg|%>
   <%= msg%><br/>
  <%end%>
<%end%>

<%= form_for [@television_show, @character] do |f| %>
  <div>
  <%= f.label :character_name %> :
  <%= f.text_field :character_name %>
  </div>
  <div>
  <%= f.label :actor_name %> :
  <%= f.text_field :actor_name %>
  </div>
  <div>
  <%= f.label :description %> :
  <%= f.text_field :description %>
  </div>
  <%= f.submit 'Submit' %>
<%end%>
